@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cta {
  @apply text-2xl mx-auto my-0 block font-bold bg-blue-dark text-white p-4 no-underline border border-blue-dark rounded shadow
}

.cta:hover {
  @apply bg-blue-dark-shade
}

.nav-link {
  @apply text-xl font-thin px-8 no-underline text-blue-darker
}

.nav-link:hover {
  @apply text-blue-dark
}

.gradient {
  background: linear-gradient(to right,#e2e4eb,rgb(177, 177, 199));
}

.gradient-reverse {
  background: linear-gradient(to right,rgb(177, 177, 199), #e2e4eb);
}